.invoiceForm {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);;
    margin:4px; 
}

/* mobi */
@media (max-width: 321px) {
    
 }
 /* desktop */
 @media (min-width: 321px) {
    .invoiceForm form {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        text-align: left;
    }
     
 }