.App .invoiceWrapper {
  background :white;
}
.App header {
  margin-bottom:40px;
  text-indent: -9999px;
}

/* mobi */
@media (max-width: 321px) {
  .App header {
    background-image: url('/logoMobi.png');
    width:55px;
    height:49px;
  }  
}
/* desktop */
@media (min-width: 321px) {
  .App header {
    background-image: url('/logoDesktop.png');
    width:329px;
    height:57px;
  }  
}